*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #032b63, #24243e);
}

body, html{
    overflow-x: hidden;
}

li{
    list-style: none;
    text-align: center;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

td{
    border-bottom: 2px solid red;
    padding: 5px;
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: white;
}

.action-btn:active{
    scale: 0.95;
}

/*Tabella*/

.modifica{
    margin-bottom: 25px;
}

.aggiungi{
    margin-top: 150px;
}

.lista{
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 150px;
}

.table2{
    text-align: center;
    color: #ffffff;
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.table{
    text-align: center;
    color: #ffffff;
    margin-left: 25%;
}

.btn1{
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.btn2{
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.submit{
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-left: 47.3%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.idDel{
    margin-left: 42.8%;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
}

.del{
    margin-bottom: 15px;
}

.descrizione{
    width: 700px;
    height: 150px;
}

/* DROPDOWN */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}