
body{
	background: linear-gradient(to bottom, #0f0c29, #032b63, #24243e);
	background-attachment: fixed;
}

h2{
    color: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

h1{
    color: #fff;
}


.cart{
	margin: 20px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
    border-radius: 10px;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
    margin-right: 20px;
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.header1{
    background-color: #090621;
}

.section1{
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: top 0.2s ease-in-out;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #FE9658;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: #FE9658;
    border-radius: 30px;
    color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: #FE9658;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: white;
}

.action-btn:active{
    scale: 0.95;
}

/* DROPDOWN */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
